{% if emptyObjectVar %}
  emptyObjectVar evaluates to true
{% else %}
  emptyObjectVar evaluates to false
{% endif %}

{% if objectVar %}
  objectVar evaluates to true
{% else %}
  objectVar evaluates to false
{% endif %}
